body {
    background-image: url("../image/Grille_Sur_Font_Gris.jfif");
    background-size: cover;
    /* Couvrire toute ma page web*/
    background-repeat: no-repeat;
    /*Pour que je n'ai pas l'image qui réapparaise ailleur sur le site*/
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
    /* Couleur assez basique */
}



header {
    position: relative;
    /* ici repère pour l’icône-absolue */
    height: 110px;
    width: 100%;
    background-image: url("../image/fond-sac-plastique-froisse-rouge.jpg");
    background-size: cover;
    /* Couvrire toute ma page web*/
    background-repeat: no-repeat;
    /*Pour que je n'ai pas l'image qui réapparaise ailleur sur le site*/
    background-position: center;
}

/*Le déroulement de l'icon*/
#Devoir {
    appearance: none;
    /* supprime le style natif du navigateur */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.2s;
    background-image: url("../icon/fleche-bas.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    padding-right: 30px;
    /* espace pour la flèche pour qu'elle soit meilleur */
}

/* Au survol de la sourit*/
#Devoir:hover {
    border-color: rgb(194, 9, 9);
    background-color: #fdf2f2;
}

/* Au focus de la sourit*/
#Devoir:focus {
    outline: none;
    border-color: rgb(194, 9, 9);
    box-shadow: 0 0 5px rgb(194, 9, 9);
}

#menuDevoirs a:hover {
    background: #eee;
}


th {
    color: rgb(82, 81, 81);
}

.H1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin: 0;
    color: rgb(82, 81, 81);
}

.Icon_Header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    z-index: 2000;
}

.Icon_Header:hover {
    /*Permet de rendre plus brillent et ça fait un tournement de sense*/
    transform: translateX(-50%) scale(1.2) rotate(10deg);
    filter: brightness(1.2);
}



.H1 {
    position: absolute;
    bottom: 10px;
    /* placé en bas du header normalement */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    color: rgb(194, 9, 9);
    margin: 0;
}

.Image_des_devoirs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box
}

.ImageDeDevoir {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    padding: 25px;
    box-sizing: border-box, 50px;
}

.Photo_de_moi {
    position: relative;
    left: 419px;
    width: 300px;
    height: 290px;
    margin-top: 20px;
}

.La_description {
    text-align: center;
    margin-top: 10px;
    color: rgb(82, 81, 81);
}

.Une_description {
    text-align: center;
    margin-top: 10px;
    color: #c9b5b5;
}

.GithubLogo {
    width: 70px;
    height: 50px;
}

.LienSociaux {
    color: aqua;
    text-decoration: none;
}

.DiscordIcon {
    width: 70px;
    height: 50px;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 120px;
    /* même hauteur que mon footer */
}

footer {
    margin: 0;
    height: 120px;
    width: 100%;
    background-image: url("../image/Des_cailloux.jfif");
    background-size: cover;
    /* Couvrire toute ma page web*/
    background-repeat: no-repeat;
    /*Pour que je n'ai pas l'image qui réapparaise ailleur sur le site*/
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .Une_mise_à_Jour {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    margin: 0;
}

footer .Une_mise_à_Jour {
    color: rgb(255, 0, 0);
    margin: 50px;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.LienSociaux img {
    transition: transform 0.2s;
}

.LienSociaux:hover img {
    animation: shake 0.5s;
    /* durée totale de l’effet */
    transform-origin: center;
    /* pivot au centre de l’icône */
}